@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form method="post" asp-action="EncryptData" asp-controller="Home">
        <div class="form-group">
            <label>Enter data to Encrypt:</label>
            <input type="text" class="form-control" name="encData" Placeholder="enter text">
        </div>
        <button type="submit" class="btn btn-outline-primary"> Do Encrypt!</button>
        <div class="form-group">
            <label>@ViewBag.encString</label>
        </div>
    </form>
    <hr />
    <form method="post" asp-action="DecryptData" asp-controller="Home">
        <div class="form-group">
            <label>Enter data to Decrypt:</label>
            <input type="text" class="form-control" name="decData" Placeholder="enter text">
        </div>
        <button type="submit" class="btn btn-outline-danger">Do Decrypt!</button>
        <div class="form-group">
            <label>@ViewBag.decString</label>
        </div>
    </form>
</div>